uvicorn~=0.29.0
fastapi~=0.110.2
redis~=5.0.4
python-dotenv~=1.0.1
SQLAlchemy~=2.0.29
cloudinary~=1.40.0
passlib
pydantic~=2.7.1
libgravatar~=1.0.4
alembic~=1.13.1
pydantic[email]
python-multipart
libgravatar
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail
cloudinary
bcrypt~=4.1.2
qrcode[pil